---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Vórtice</h1>
			<p>
				Página de muestra temporal creada para concurso Empretec.
				¡La frase "la basura de algunos es el oro de otros" resulto ser literal!
				Con nuestro logo basado en la forma (similar a al típico ícono de reciclaje) de la mancha de Jupiter, una tormenta conocida desde ya mucho tiempo reciclamos, reducimos y reutilizamos.
			</p>
			<img src={"src/assets/jup.jpg"} alt="" />
			
		
			
		</main>
		<Footer />
	</body>
</html>
